.centerDiv {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.answer {
  font-size: 5.5em;
  display: none;
}

.error {
  display: none;
}

.answerTable {
  padding-top: 114px;
  max-width: 800px;
}

.containerBox {
  position: relative;
}

.runningTotal {
  display: none;
}

.runningTotal h2 {
  margin-top: -15px;
}

.answerTable {
  display: none;
}